<div class="social-links">
  <a class="link" data-title="https://discord.gg/t5vphPafdG" href="https://discord.gg/t5vphPafdG"><p><i class="fab fa-discord"></i></p></a>
  <a class="link" data-title="https://www.furaffinity.net/user/auxl/" href="https://www.furaffinity.net/user/auxl/"><p><i class="fas fa-paw"></i></p></a>
  <a class="link" data-title="https://github.com/Aux"  href="https://github.com/Aux"><p><i class="fab fa-github"></i></p></a>
  <a class="link" data-title="https://gumroad.com/auxlabs"  href="https://gumroad.com/auxlabs"><p><i class="fas fa-store"></i></p></a>
  <a class="link" data-title="https://steamcommunity.com/id/Auxesis/"  href="https://steamcommunity.com/id/Auxesis/"><p><i class="fab fa-steam"></i></p></a>
  <a class="link" data-title="https://www.twitch.tv/auxlabs"  href="https://www.twitch.tv/auxlabs"><p><i class="fab fa-twitch"></i></p></a>
  <a class="link" data-title="https://twitter.com/auxlabs_"  href="https://twitter.com/auxlabs_"><p><i class="fab fa-twitter"></i></p></a>
  <a class="link" data-title="https://www.youtube.com/channel/UCbggTNs8zB-173Q53a0Dzcg"  href="https://www.youtube.com/channel/UCbggTNs8zB-173Q53a0Dzcg"><p><i class="fab fa-youtube"></i></p></a>
</div>
